{% extends "layout.html" %}

{% block content %}
{##}
    <script type="text/javascript" src="{{ url_for('static', filename = 'main.js') }}"></script>

    <div class="row justify-content-center">
        <div class="col-8">
            <form method="post" enctype="multipart/form-data" action="/upload_file" id="upload-file-form">
                <div class="mb-3">
                    <label for="upload_new_file" class="form-label">Upload Your Receipt with QR Code</label>
                    <input class="form-control" type="file" id="formFile" name="file">
                </div>
                <input type="submit" value="Upload" class="btn btn-accent">
            </form>
        </div>
    </div>

    <div class="row">
    <div class="col-8">
    <div id="placeholder">

    </div>
    </div>
    </div>

{% endblock %}